body {
  margin: 0px;
  padding: 0px;
  font-family: Munro, Silkscreen, Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}


#main-section {
  background-color:  black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.startscreen {
  display: center;
  height: 600px;

}

.side-bar {
  width: 400px;
  padding-top: 60px;
  margin: 0px 30px;
  color: white;
}

#shit-shat {
  margin-top: 60px
}

.sides {
  margin: 0px;
  padding: 0px;
  height: 600px;
}